video{
    width: 100%;
    height: 100%;
}

.vid-active{
    opacity: 1;
}

.vid-inactive{
    opacity: 0;
}

.sections-wrapper{
    position: relative;
}

.sections-wrapper section{
    position: absolute;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}